<main>
    <div class="primeira_img">
        <img src="../../assets/primeira img .png" alt="primeira_img">
    </div>
    <p>mais vendidos</p>
    <div class="img_de_bolos">
        <div class="bolo_de_cenoura">
            <img src="../../assets/segunda img .png" id="segunda_img">
            <p>Bolo de Cenoura</p>
        </div>

        <div class="Bolo_de_Fubá">
        <img src="../../assets/terceira img bolo.png" id="terceira_img">
        <p>Bolo de Fubá</p>
    </div>

        <div class="Bolo_de+Laranja"></div>
        <img src="../../assets/terceira img bolo de laranja .png" id="quarta_img">
        <p></p>
    </div>
    </div>
</main>